<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1034172436029-e4d2k5vaetg3s191734dedpso18i83rp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1034172436029-e4d2k5vaetg3s191734dedpso18i83rp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1034172436029-8218fknu4a63adelqocv42bpmq8vid6g.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCyqXXfGEm0fN1Q2KlQqPQokjWbeEBqcgw</string>
	<key>GCM_SENDER_ID</key>
	<string>1034172436029</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.PublicGalleryJswj</string>
	<key>PROJECT_ID</key>
	<string>public-gallery-e0ca7</string>
	<key>STORAGE_BUCKET</key>
	<string>public-gallery-e0ca7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1034172436029:ios:6fc4b8c99bad7029d3a454</string>
</dict>
</plist>